/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap'); */

/* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
} */

/* img {
    width: 100%;
    border-radius: 50%;
    border: 10px dashed blue;
    padding: 5px;
} */

/* h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(11, 0, 163);
    padding: 10px 0 10px 0;
    color: #fff;
} */

/* p {
    margin-bottom: 5px;
    font-size: 20px;
    padding: 25px;
} */

/* .wrapper {
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
} */


/* .project_box h3, .project_box p  {
    text-align: center;
    margin-bottom: 2px;
} */

/* .project_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px;
} */


#home, #portfolio, #contact {
    margin: 50px 0 100px;
}


#about, #contact {
    background-color: rgb(6, 89, 255);
    color: rgb(255, 255, 255);
    text-align: center;
}

#about p {
    text-align: left;
}

/* #contact {
    background-color: rgb(6, 89, 255);
    padding: 0 0 30px 0;
    margin: 120px 0;
    color: rgb(255, 255, 255);
} */



/* <-- HEADER & NAVIGATION --> */
/* header {
    background-color: rgb(6, 89, 255);
    margin-bottom: 30px;
    display: block;
}
header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}
header nav ul li {
    list-style-type: none;
}
header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 20px 0 0;
}
a:link {
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(251, 255, 0);
}
a:hover {
    color: rgb(255, 153, 0);
}
a:active {
    color: rgb(127, 0, 153);
} */


/* <-- SOCIAL MEDIA LINKS --> */
/* #social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 50px 0 40px;
}
#social ul li a {
    text-decoration: none;
    margin: 5px;
    color: rgb(255, 255, 255);
}
#social ul li a:link {
    color: rgb(255, 255, 255);
}
#social ul li a:visited {
    color: rgb(251, 255, 0);
}
#social ul li a:hover {
    color: rgb(255, 153, 0);
}
#social ul li a:active {
    color: rgb(127, 0, 153);
} */


/* <-- FOOTER --> */
/* footer {
    text-align: center;
} */


/* <-- CONTACT FORM --> */
/* form input,
form textarea {
    width: 100%;
}
fieldset {
    border: 0;
}
form label {
    display: block;
    margin: 10px 0;
    font-size: 25px;
}
form input[type=text],
form input[type=email] {
    width: 100%;
    margin-bottom: 30px;
    color:  #000;
    font-size: 20px;
    padding: 5px;
}
form textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    color: #000;
    padding: 5px;
}
form button {
    color: blue;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px 15px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
} */




/* <-- DESKTOP STYLE --> */
@media all and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        margin: 10px 0 10px 10px;
        padding-top: 10px;
        font-size: 40px;
    }

    header nav {
        margin-top: 20px;
        font-size: 25px;
    }

    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        flex-direction: row;
    }

    .desk_column {
        flex-direction: column;
        margin: 10px
    }

    #james_pic {
        height: 10px;
    }
    #intro {
        /* width: 90%; */
    }

}